<!doctype html>
<html>
<head>
<link href="static/bootstrap.css" rel="stylesheet" media="screen">
<title>Deis Dashboard</title>
</head>
<body role="document">
<div class="container-fluid"><div class="navbar"><div class="navbar-inner"><div class="container"><a class="brand">Deis Dashboard</a>
    <ul class="nav">
    <li class="divider-vertical"></li>
    <li class="active"><a href="/">Containers</a></li>
    <li class="divider-vertical"></li>
	</ul>
    </div>
    </div>
	</div>


      <div class="alert alert-success" role="alert">
        <strong>Well done!</strong> {{hello}}
      </div>

</div>
</body>
</html>
